
   
  

<div  class="row"> 

    <h1 class="col-sm-9 text-center">  Bienvenido a Critter </h1>
    <div  class="row"> 
     
        <p class="col-xs-8 col-sm-6 "> Esto es Critter, una red social flashera para monstruos flasheros. 
        <br/>
        Para ese que cuando te vas a dormir le pinta romper los kinotos porque no tiene ningun amigo. 
        <br/>
        Hacele un perfil y conseguile muuchos amigos, asi podes dormir piola y no estar dormido en las clases de la matina! </p>
      
        <p class="col-xs-4 col-sm-6" ><%= link_to "Ver el primer monstruo", ver_monstruos_path %>
        <br/>
         <%= link_to "Listado de Tweets", tweets_path %></p>
       
    </ div> 
    <h4 class="col-sm-9 text-center">Tweets= IUYFIUTFIUTFI          Facebook=nomeacuerdo </h4> 
</ div>